$dark-grey: #141414;
$green: #1db954;
$off-white: #e1e1e1;
$small-font-size: 0.75rem;
$small-padding: 0.5rem;
$small-margin: 0.5rem;
$medium-padding: 1rem;
$medium-margin: 1rem;
$large-margin: 2rem;

$css-colour: #2965f1;
$html-colour: #e34c26;
$js-colour: #f7df1e;
$react-colour: #7cc5d9;
$php-colour: #8993be;
$mysql-colour: #f29111;
$git-colour: #f34f29;
$webpack-colour: #8ed5fa;
$vue-colour: #41b883;
$less-colour: #1d365d;
$sass-colour: #bf4080;
